attrs==20.2.0
bleach==3.2.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
colorama==0.4.3
cryptography==3.1.1
Cython==0.29.21
decorator==4.4.2
dill==0.3.2
dlx==1.0.4
docplex==2.15.194
docutils==0.16
fastdtw==0.3.4
fastjsonschema==2.14.5
h5py==2.10.0
idna==2.10
inflection==0.5.1
jeepney==0.4.3
joblib==0.16.0
jsonschema==3.2.0
keyring==21.4.0
more-itertools==8.5.0
mpmath==1.1.0
multitasking==0.0.9
nest-asyncio==1.4.1
networkx==2.5
ntlm-auth==1.5.0
numpy==1.19.2
packaging==20.4
pandas==1.1.2
pkginfo==1.5.0.1
ply==3.11
psutil==5.7.2
pybind11==2.5.0
pycparser==2.20
Pygments==2.7.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-constraint==1.4.0
python-dateutil==2.8.1
pytz==2020.1
qiskit==0.21.0
qiskit-aer==0.6.1
qiskit-aqua==0.7.5
qiskit-ibmq-provider==0.9.0
qiskit-ignis==0.4.0
qiskit-terra==0.15.2
Quandl==3.5.2
readme-renderer==26.0
requests==2.24.0
requests-ntlm==1.1.0
requests-toolbelt==0.9.1
retworkx==0.5.0
rfc3986==1.4.0
scikit-learn==0.23.2
scipy==1.5.2
SecretStorage==3.1.2
six==1.15.0
sympy==1.6.2
threadpoolctl==2.1.0
tqdm==4.50.0
twine==3.2.0
urllib3==1.25.10
webencodings==0.5.1
websockets==8.1
yfinance==0.1.54
